@using Lumina
@using Lumina.Excel.GeneratedSheets
@inject GameData GameDataService

@if (Recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <colgroup>
            <col span="1" style="width: 5%"/>
            <col span="1" style="width: 10%;"/>
            <col span="1" style="width: 20%;"/>
            <col span="1" style="width: 10%;"/>
            <col span="1" style="width: 55%;"/>
        </colgroup>
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
            <th>Amount Required</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var recipe in Recipes)
        {
            var result = recipe.ItemResult.Value;
            if (result == null) continue;

            <tr>
                <td><img src="@Util.GetIconUrl(result.Icon)" alt="" width="50" height="50" align="right"/></td>
                <td>@result.RowId</td>
                <td><NavLink href="@Util.GetItemPageUrl(result.RowId)">@result.Name</NavLink></td>
                <td>@recipe.CraftType.Value?.Name</td>
                <td></td>
            </tr>

            foreach (var ingredient in recipe.UnkData5.Where(i => i.ItemIngredient > 0))
            {
                var ingredientItem = GameDataService.GetExcelSheet<Item>()?.GetRow((uint)ingredient.ItemIngredient);
                if (ingredientItem == null) continue;

                <tr>
                    <td><img src="@Util.GetIconUrl(ingredientItem.Icon)" alt="" width="24" height="24" align="right"/></td>
                    <td>@ingredientItem.RowId</td>
                    <td><NavLink href="@Util.GetItemPageUrl(ingredientItem.RowId)">@ingredientItem.Name</NavLink></td>
                    <td></td>
                    <td>@ingredient.AmountIngredient</td>
                </tr>
            }
        }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IEnumerable<Recipe>? Recipes { get; set; }
}
