@page "/"

@using Lumina
@using Lumina.Excel.GeneratedSheets
@inject GameData GameDataService

<h1>Items</h1>

<p>This component demonstrates fetching data from a service.</p>

<table class="table">
    <colgroup>
        <col span="1" style="width: 10%;"/>
        <col span="1" style="width: 10%;"/>
        <col span="1" style="width: 30%;"/>
        <col span="1" style="width: 50%;"/>
    </colgroup>
    <thead>
    <tr>
        <th>Icon</th>
        <th>ID</th>
        <th>Name</th>
        <th>Item Level</th>
    </tr>
    </thead>
    <tbody>
    <Virtualize ItemsProvider="@GetItemsProvider" OverscanCount="12">
        <ItemContent Context="item">
            <tr>
                <td><img src="@Util.GetIconUrl(item.Icon)" alt="" width="50" height="50"/></td>
                <td>@item.RowId</td>
                <td><NavLink href="@GetItemPageUrl(item.RowId)">@item.Name</NavLink></td>
                <td>@item.LevelItem.Row</td>
            </tr>
        </ItemContent>
        <Placeholder>
            <p><em>Loading items...</em></p>
        </Placeholder>
    </Virtualize>
    </tbody>
</table>


@code {
    private ValueTask<ItemsProviderResult<Item>> GetItemsProvider(ItemsProviderRequest req)
    {
        var items = GameDataService.GetExcelSheet<Item>()!;
        var itemsNext = items.OrderByDescending(item => item.LevelItem.Row).Skip(req.StartIndex).Take(req.Count);
        var res = new ItemsProviderResult<Item>(itemsNext, (int)items.RowCount);
        return ValueTask.FromResult(res);
    }

    private static string GetItemPageUrl(uint itemId)
    {
        return $"item/{itemId}";
    }
}
